// Headers
//
// 
// 
.page-header{
  background: $primary;
  margin: 0 0 $spacer*1;
  padding: $spacer*2 0;

  h1{
    color: $light;
    font-weight: 200;
    font-size: 2.5rem;

    small,
    .small{
      font-weight: 200;
      font-size: 60%;
    }
  }
}
@include media-breakpoint-down(xs) {
  .page-header{
    padding: $spacer 0;
  }
}