
// Navbar
//
.navbar-primary{
  background-color: #A4BECF;
  padding-top: $spacer;
  padding-bottom: $spacer;

  .navbar-brand{
    color: $primary;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0;
    
    > svg{
      height: 24px;
      width: 44px;

      path,
      circle{
        fill: $primary;
      }
    }
  }
}