// Tables
//
.table-nv{
  > tbody > tr{
    th,
    td{
      font-size: $font-size-base;
      border: none;
    }
    > :first-of-type{
      padding-left: 0;
    }
    > :last-of-type{
      padding-right: 0;
    }
    td{
      text-align: right;
    }
  }
}